<div>
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"> -->
      <mat-icon >menu</mat-icon>
    <!-- </button> -->
    <span class="space">Recruitment App</span>
    <span class="example-spacer1"></span>
    <!-- <button mat-icon-button>  -->
      <div class="dropdown">
        <button class="dropbtn">Profile</button>
        <div class="dropdown-content">
          <a href="#">Interviewer</a>
          <a href="#">Candidate</a>
          <a href="#"></a>
        </div>
      </div>
       
      
      <span class="example-spacer"></span>
      <mat-icon>logout</mat-icon>
    <!-- </button> -->
  </mat-toolbar>
</div>