<div class="container">
    <div class="row">
     <div class="col-md-offset-1 col-md-3">
        <form (ngSubmit)="login(f.value)" #f="ngForm" >
        <div class="form-group">
            <h3>Login</h3> 
            <input type="email" class="form-control" placeholder=" Username" id="email" ngModel name="email" required="">
        </div><br>
           
            <button type="submit" class="btn btn-default green" [disabled]="!f.valid">Access</button>
      </form>
     </div>
    </div>
</div>
