.dropbtn {
  background-color:transparent;
  color: rgb(111, 107, 107);
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  padding-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fdfbfb;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: rgb(251, 247, 247);}

.dropdown:hover .dropdown-content {display: block;}

/* .dropdown:hover .dropbtn {background-color: #a7a9a7;} */
input{
  min-width: 470px;
  min-height: 70px;
}
.borderr{
  border: solid 1px black;
}
.margin{
  margin-left: 6%;
  position:sticky;
}


button{
  color: #fff;
  background-color: rgb(48, 169, 128);
  
  border: none;
  border-radius: 30px;
  height: 26px;
}
.endbutton{
  margin-left: 85%;
  margin-bottom: 1%;
  background-color:rgb(230, 71, 14);
}
.border
{
  background-color: #e2dede;
  border: solid 1px;
} 
 .color{
  background-color: (white);
 }
 
 mat-icon{
  color:darkgreen;
 }
 hr{
  padding: none;
 }
 .width{
  width:441px;
 }
 .position{
  font-size: 15px;
  padding-left: 90%;
 }

 form{
  background-color:rgba(255, 228, 196, 0.32);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   height: 100%;
 }

 .container-fluid{
  padding-top: 1%;
  background: white;
  /* background-color: rgba(255, 255, 255, 0.571); */
  /* width: 70%; */
  margin-left: 0.5%;
  margin-right: 25%; 
 }
 .container{
  margin-right: 17%;
 }
 #div1,#div2,#div3,#div4,#div5{
  display: inline;
} 
.spaceL{
  padding-right: 20px;
}
h1{
  text-align: center;
}
angular-editor-textarea{
  border: black solid 1px;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-slider{
  width:200px;
}
.space{
  padding-right: 30px;
}
.size
{
  border: solid black 1px;
  padding: 6px;
  padding-bottom: 2%;
  margin-top: 1%;
}
.red
{
  color: brown;
}
.margintop{
 padding-top: 2.5px;
}
.top{
  border: solid 1px black;
}