 
<form [formGroup]="recruiterData">
  <br>
  <div class="container">
    <mat-card class="container-fluid">
    <div class="div-inline">
      
      <div class="spaceL" id="div1">
        <button mat-raised-button color="primary" class="color" (click)="assesmentStart()">Assesment-Start</button>
      </div>

      <div class="spaceL" id="div2">
        <!-- <Span><input class="spaceL" type="text" placeholder="Assesment-id: 1" disabled> </Span> -->
        <span>Assessment-id:{{Asid}}</span>

      </div>

      <div class="spaceL" id="div3">
        <!-- <span><input  type="text" placeholder="Assesment-date: {{Today | date:'MMM-dd'}}" disabled></span> -->
        <span>Assesment-date: {{Today | date:'MMM-dd'}}</span>
      </div>

      <div  class="dropdown div" id="div4">
          CandidateInfo<mat-icon class="dropbtn">account_box</mat-icon>
          <div class="dropdown-content">
          <!-- <a href="#">Candidate</a> -->
          <mat-card>
          <span href="#"><b>Id : {{   CId }}</b></span><br>
          <span href="#"><b>Name : {{ Name}}</b></span><br>
          <span><b>{{Email}}</b></span>
          <span></span>
        </mat-card>
          </div>
      </div>

      <div  class="dropdown div spaceL" id="div5">
        SkillInfo<mat-icon class="dropbtn"></mat-icon>
        <div class="dropdown-content">
        <!-- <a href="#">Candidate</a> -->
        <mat-card>
        <span href="#">Skill: <b>{{skill1}}</b>    Complexity:<b>{{complexity1}}</b></span><hr>
        <span href="#">Skill:  <b>{{skill2}}</b>      Complexity:<b>{{complexity2}}</b></span><hr>
        <span href="#">Skill:<b>{{skill3}}</b>      Complexity:<b>{{complexity3}}</b></span>
        
        <span></span>
      </mat-card>
        </div>
    </div>

      <div  id="div5" class="margin">
        <span class="spaceL">{{nextI}}/{{arrayLength}}</span>
        <mat-icon (click)="privQuestion('prev')" class="margintop">arrow_circle_left</mat-icon>
        <mat-icon (click)="nextQuestion('next')" class="margintop">arrow_circle_right</mat-icon>  
      </div> 
    </div> 
 

    <!-- <div id="div3" class="spaceL">
      <mat-form-field >  
      <mat-label> Skill </mat-label> 
      <mat-select formControlName="skillId" ngDefaultControl (ngModelChange)="onSelectSkill($event)" >
       <mat-option *ngFor="let x of Skill" value="{{x.skillId}}" (change)="onSelectSkill($event)" >{{x.skillName}}</mat-option>  
      </mat-select>  
      </mat-form-field>
    </div>

    <div id="div2" class="spaceL">
      <mat-form-field >  
        <mat-label> Complexity </mat-label>  
        <mat-select formControlName="level" ngDefaultControl (ngModelChange)="onSelectComple($event)">
        <mat-option *ngFor="let x of Complexity" value="{{x.Id}}">{{x.Name}}</mat-option>
      </mat-select>  
      </mat-form-field>
    </div> -->
   
    

  <div class="size" >   
    <h2  class="space red" id="div1"> {{question}} </h2>
    <span id="div2"><mat-icon id="div1" class="position" *ngIf="hideMe" (click)="hideAnswer()">visibility_off</mat-icon></span>
    <h3 *ngIf="showMe" id="div"><b></b>{{answer}}</h3>
  </div>  <br>
<div>
  <div class="space" id="div1">
      <label>Score :</label> 
      <mat-slider (click)="updateSetting($event)" ngDefaultControl
      thumbLabel [displayWith]="formatLabel"
      tickInterval="5" step="5" min="0"max="25" aria-label="text" >
      </mat-slider>  
    </div>
    <div id="div2" >
      <label for="">Key Words :</label>
     {{keywordzz}}
    </div>
  </div>
    <div class="">
      <!-- <div id="div1" class="split1" >
        <label>Additional Questions </label>    
          <angular-editor id="editor1"  [config]="editorConfig" >
          </angular-editor>    
      </div> -->

      <div id="div2" >
        <label>Note</label> 
        <angular-editor id="editor2" placeholder="Enter Here......" [config]="editorConfig1" >
          
        </angular-editor>    
    </div>
  </div><br>

  </mat-card>
 </div>
 
</form>




