<!-- <section class="main-content">
    <div class="container">
      <h1 style="font-weight: bold; font-size: x-large">Select a Candidate</h1>
      <br />
      <br />
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card bg-white p-3 mb-4 shadow">
            <div class="d-flex justify-content-between mb-4">
              <div class="user-info">
                <div class="user-info__img">
                  <img
                    src="https://tse3.mm.bing.net/th/id/OIP.gDBdAA5pacZzSnpFUHEKPgHaGA?w=254&h=207&c=7&r=0&o=5&pid=1.7"
                    alt="User Img"
                  />
                </div>
                <div class="user-info__basic">
                  <h5 class="mb-0" style="font-size: large; font-weight: 600">
                    Anand Kumar
                  </h5>
                  <p class="text-muted mb-0">Male</p>
                </div>
              </div>
              <div class="dropdown">
                <span class="skill"><b>Skills</b></span>
                <div class="dropdown-content">
                  <span><b>Angular - Medium </b></span><br />
                  <span><b>Java - Easy </b></span><br />
                  <span><b>SQL - Easy </b></span><br />
                </div>
              </div>
              
            </div>
            <h6
              class="mb-0"
              style="margin-left: 10px; font-size: medium; font-weight: 600"
            >
              +91 9746543515
            </h6>
  
            <a href="#!" style="margin-left: 10px; font-size: medium"
              ><small>sam123@Gmail.com</small></a
            >
            <div class="d-flex justify-content-between mt-5">
              <div>
                <h5
                  class="mb-0"
                  style="margin-left: 10px; font-size: large; font-weight: 600"
                >
                  
                  <small
                    class="ml-1"
                    style="margin-left: 10px; font-size: medium; font-weight: 600"
                    >8 Nov 2021</small
                  >
                </h5>
              </div>
              <button
                class="btn btn-success"
                (click)="startAssesment()"
                style="font-size: 12px"
              >
                Start Assesment
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card bg-white p-3 mb-4 shadow">
            <div class="d-flex justify-content-between mb-4">
              <div class="user-info">
                <div class="user-info__img">
                  <img
                    src="https://tse3.mm.bing.net/th/id/OIP.gDBdAA5pacZzSnpFUHEKPgHaGA?w=254&h=207&c=7&r=0&o=5&pid=1.7"
                    alt="User Img"
                  />
                </div>
                <div class="user-info__basic">
                  <h5 class="mb-0" style="font-size: large; font-weight: 600">
                    Purushottam Kumar
                  </h5>
                  <p class="text-muted mb-0">Male</p>
                </div>
              </div>
              <div class="dropdown">
                <span class="skill"><b>Skills</b></span>
                <div class="dropdown-content">
                  <span><b>Angular - Easy </b></span><br />
                  <span><b>Java - Easy </b></span><br />
                  <span><b>SQL- Medium </b></span><br />
                </div>
              </div>
              
            </div>
            <h6
              class="mb-0"
              style="margin-left: 10px; font-size: medium; font-weight: 600"
            >
              +91 9746543515
            </h6>
  
            <a href="#!" style="margin-left: 10px; font-size: medium"
              ><small>sam123@Gmail.com</small></a
            >
            <div class="d-flex justify-content-between mt-5">
              <div>
                <h5
                  class="mb-0"
                  style="margin-left: 10px; font-size: large; font-weight: 600"
                >
                  
                  <small
                    class="ml-1"
                    style="margin-left: 10px; font-size: medium; font-weight: 600"
                    >8 Nov 2021</small
                  >
                </h5>
              </div>
              <button
                class="btn btn-success"
                (click)="startAssesment()"
                style="font-size: 12px"
              >
                Start Assesment
              </button>
            </div>
          </div>
        </div>
  
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card bg-white p-3 mb-4 shadow">
            <div class="d-flex justify-content-between mb-4">
              <div class="user-info">
                <div class="user-info__img">
                  <img
                    src="https://tse3.mm.bing.net/th/id/OIP.gDBdAA5pacZzSnpFUHEKPgHaGA?w=254&h=207&c=7&r=0&o=5&pid=1.7"
                    alt="User Img"
                  />
                </div>
                <div class="user-info__basic">
                  <h5 class="mb-0" style="font-size: large; font-weight: 600">
                    Arjun Sharma
                  </h5>
                  <p class="text-muted mb-0">Male</p>
                </div>
              </div>
              <div class="dropdown">
                <span class="skill"><b>Skills</b></span>
                <div class="dropdown-content">
                  <span><b>Angular - Medium </b></span><br />
                  <span><b>Java - Easy </b></span><br />
                  <span><b>SQL -Easy </b></span><br />
                </div>
              </div>
             
            </div>
            <h6
              class="mb-0"
              style="margin-left: 10px; font-size: medium; font-weight: 600"
            >
              +91 9746543515
            </h6>
  
            <a href="#!" style="margin-left: 10px; font-size: medium"
              ><small>Arjun5252@Gmail.com</small></a
            >
            <div class="d-flex justify-content-between mt-5">
              <div>
                <h5
                  class="mb-0"
                  style="margin-left: 10px; font-size: large; font-weight: 600"
                >
                  <small
                    class="ml-1"
                    style="margin-left: 10px; font-size: medium; font-weight: 600"
                    >8 Nov 2021</small
                  >
                </h5>
              </div>
              <button
                class="btn btn-success"
                (click)="startAssesment()"
                style="font-size: 12px"
              >
                Start Assesment
              </button>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card bg-white p-3 mb-4 shadow">
            <div class="d-flex justify-content-between mb-4">
              <div class="user-info">
                <div class="user-info__img">
                  <img
                    src="https://tse3.mm.bing.net/th/id/OIP.gDBdAA5pacZzSnpFUHEKPgHaGA?w=254&h=207&c=7&r=0&o=5&pid=1.7"
                    alt="User Img"
                  />
                </div>
                <div class="user-info__basic">
                  <h5 class="mb-0" style="font-size: large; font-weight: 600">
                    Abhishek Panday
                  </h5>
                  <p class="text-muted mb-0">Male</p>
                </div>
              </div>
              <div class="dropdown">
                <span class="skill"><b>Skills</b></span>
                <div class="dropdown-content">
                  <span><b>Angular - Medium </b></span><br />
                  <span><b>Java- Easy </b></span><br />
                  <span><b>SQL - Easy </b></span><br />
                </div>
              </div>
              
            </div>
            <h6
              class="mb-0"
              style="margin-left: 10px; font-size: medium; font-weight: 600"
            >
              +91 7746543515
            </h6>
  
            <a href="#!" style="margin-left: 10px; font-size: medium"
              ><small>Shane333@Gmail.com</small></a
            >
            <div class="d-flex justify-content-between mt-5">
              <div>
                <h5
                  class="mb-0"
                  style="margin-left: 10px; font-size: large; font-weight: 600"
                >
                  <small
                    class="ml-1"
                    style="margin-left: 10px; font-size: medium; font-weight: 600"
                    >20 Nov 2021</small
                  >
                </h5>
              </div>
              <button
                class="btn btn-success"
                (click)="startAssesment()"
                style="font-size: 12px"
              >
                Start Assesment
              </button>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card bg-white p-3 mb-4 shadow">
            <div class="d-flex justify-content-between mb-4">
              <div class="user-info">
                <div class="user-info__img">
                  <img
                    src="https://tse3.mm.bing.net/th/id/OIP.gDBdAA5pacZzSnpFUHEKPgHaGA?w=254&h=207&c=7&r=0&o=5&pid=1.7"
                    alt="User Img"
                  />
                </div>
                <div class="user-info__basic">
                  <h5 class="mb-0" style="font-size: large; font-weight: 600">
                    vivek Kumar
                  </h5>
                  <p class="text-muted mb-0">male</p>
                </div>
              </div>
              <div class="dropdown">
                <span class="skill"><b>Skills</b></span>
                <div class="dropdown-content">
                  <span><b>Typescript- Hard </b></span><br />
                  <span><b>Java - Easy</b></span
                  ><br />
                  <span><b>SQL-Easy</b></span
                  ><br />
                </div>
              </div>
             
            </div>
            <h6
              class="mb-0"
              style="margin-left: 10px; font-size: medium; font-weight: 600"
            >
              +91 9746543515
            </h6>
  
            <a href="#!" style="margin-left: 10px; font-size: medium"
              ><small>Stone6783@Gmail.com</small></a
            >
            <div class="d-flex justify-content-between mt-5">
              <div>
                <h5
                  class="mb-0"
                  style="margin-left: 10px; font-size: large; font-weight: 600"
                >
                  <small
                    class="ml-1"
                    style="margin-left: 10px; font-size: medium; font-weight: 600"
                    >8 Nov 2021</small
                  >
                </h5>
              </div>
              <button
                class="btn btn-success"
                (click)="startAssesment()"
                style="font-size: 12px"
              >
                Start Assesment
              </button>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card bg-white p-3 mb-4 shadow">
            <div class="d-flex justify-content-between mb-4">
              <div class="user-info">
                <div class="user-info__img">
                  <img
                    src="https://tse3.mm.bing.net/th/id/OIP.gDBdAA5pacZzSnpFUHEKPgHaGA?w=254&h=207&c=7&r=0&o=5&pid=1.7"
                    alt="User Img"
                  />
                </div>
                <div class="user-info__basic">
                  <h5 class="mb-0" style="font-size: large; font-weight: 600">
                    Manish Kashyap
                  </h5>
                  <p class="text-muted mb-0">Male</p>
                </div>
              </div>
              <div class="dropdown">
                <span class="skill"><b>Skills</b></span>
                <div class="dropdown-content">
                  <span><b> Angular - Medium </b></span><br />
                  <span><b>Java - Easy</b></span
                  ><br />
                  <span><b>SQL - Easy</b></span
                  ><br />
                </div>
              </div>
              
            </div>
            <h6
              class="mb-0"
              style="margin-left: 10px; font-size: medium; font-weight: 600"
            >
              +91 6746543515
            </h6>
  
            <a href="#!" style="margin-left: 10px; font-size: medium"
              ><small>David3413@Gmail.com</small></a
            >
            <div class="d-flex justify-content-between mt-5">
              <div>
                <h5
                  class="mb-0"
                  style="margin-left: 10px; font-size: large; font-weight: 600"
                >
                  
                  <small
                    class="ml-1"
                    style="margin-left: 10px; font-size: medium; font-weight: 600"
                    >4 Nov 2022</small
                  >
                </h5>
              </div>
              <button
                class="btn btn-success"
                (click)="startAssesment()"
                style="font-size: 12px"
              >
                Start Assesment
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <div class="container mt-3">
    <h1>Candidate-Info</h1><br>
    <div class="row">
      <div *ngFor="let data of arr" class="col-md-4">
        <mat-card>
          <h2>{{data.canName}}</h2>
          <p>{{data.canPhone}}</p>
          <p>{{data.Email}}</p>
          <button>StartAssesment</button>
        </mat-card>
      </div>
    </div>
  </div>