
<section class="main-content">
    <div class="container">
        <h1>Appointment Card UI</h1>
        <br>
        <br>
<div class="row">

    <div class="col-sm-6 col-md-6 col-lg-3">
        
        <div class="card bg-white p-3 mb-4 shadow">
            <mat-card>
        <div class="d-flex justify-content-between mb-4">
            
            <div class="user-info">
                <mat-card-header>
                    <div class="user-info__img">
                        <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=400" alt="User Img">
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="user-info__basic">
                        <h5 class="mb-0">sam curren</h5>
                        <p class="text-muted mb-0">28 yrs, Male</p>
                    </div>
                </mat-card-content>    
            </div> 
            
                <!-- <div class="dropdown open">
                    <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId1">
                        <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit</a>
                        <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash mr-1"></i> Delete</a>
                    </div>
                </div> -->
           </div>
            <h6 class="mb-0">+91 9876543215</h6>
            <a href="#!"><small>Contact</small></a>
            <div class="d-flex justify-content-between mt-4">
                <div>
                    <h5 class="mb-0">06:00 PM
                        <small class="ml-1">2 Feb 2021</small>
                    </h5>
                </div>
                <span class="text-success font-weight-bold">Consult</span>
            </div>
        </mat-card>
        </div>
    </div>

    <!--------------------------- second card ------------------------->
    <div class="col-sm-6 col-md-6 col-lg-3">
        
        <div class="card bg-white p-3 mb-4 shadow">
            <mat-card>
        <div class="d-flex justify-content-between mb-4">
            
            <div class="user-info">
                <mat-card-header>
                    <div class="user-info__img">
                        <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=400" alt="User Img">
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="user-info__basic">
                        <h5 class="mb-0">sam curren</h5>
                        <p class="text-muted mb-0">28 yrs, Male</p>
                    </div>
                </mat-card-content>    
            </div> 
            
                <!-- <div class="dropdown open">
                    <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId1">
                        <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit</a>
                        <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash mr-1"></i> Delete</a>
                    </div>
                </div> -->
           </div>
            <h6 class="mb-0">+91 9876543215</h6>
            <a href="#!"><small>Contact</small></a>
            <div class="d-flex justify-content-between mt-4">
                <div>
                    <h5 class="mb-0">06:00 PM
                        <small class="ml-1">2 Feb 2021</small>
                    </h5>
                </div>
                <span class="text-success font-weight-bold">Consult</span>
            </div>
        </mat-card>
        </div>
    </div>

    <!--------------------------- third card ------------------------->
    <div class="col-sm-6 col-md-6 col-lg-3">
        
        <div class="card bg-white p-3 mb-4 shadow">
            <mat-card>
        <div class="d-flex justify-content-between mb-4">
            
            <div class="user-info">
                <mat-card-header>
                    <div class="user-info__img">
                        <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=400" alt="User Img">
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <div class="user-info__basic">
                        <h5 class="mb-0">sam curren</h5>
                        <p class="text-muted mb-0">28 yrs, Male</p>
                    </div>
                </mat-card-content>    
            </div> 
            
                <!-- <div class="dropdown open">
                    <a href="#!" class="px-2" id="triggerId1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-v"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId1">
                        <a class="dropdown-item" href="#"><i class="fa fa-pencil mr-1"></i> Edit</a>
                        <a class="dropdown-item text-danger" href="#"><i class="fa fa-trash mr-1"></i> Delete</a>
                    </div>
                </div> -->
           </div>
            <h6 class="mb-0">+91 9876543215</h6>
            <a href="#!"><small>Contact</small></a>
            <div class="d-flex justify-content-between mt-4">
                <div>
                    <h5 class="mb-0">06:00 PM
                        <small class="ml-1">2 Feb 2021</small>
                    </h5>
                </div>
                <span class="text-success font-weight-bold">Consult</span>
            </div>
        </mat-card>
        </div>
    </div>


</div>
</div>
</section>

