<!-- 
<div class="container">
    <h2>Edit Profile</h2>
    <form class="form-horizontal" [formGroup]="recruiterData">
        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-4">
            <input type="email" class="form-control" formControlName="email" id="email" placeholder="Enter email" name="email">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Name:</label>
          <div class="col-sm-4">          
            <input type="text" class="form-control" formControlName="name" id="pwd" placeholder="Enter name" name="pwd">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">Phone:</label>
            <div class="col-sm-4">
              <input type="phone" class="form-control" formControlName="phone" id="email" placeholder="Enter phone number" name="email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Experience:</label>
            <div class="col-sm-4">
              <input type="number" class="form-control" formControlName="experience" id="email" placeholder="Enter experience" name="email">
            </div>
          </div>
         
          <div [formGroup]="skillFormGroup">
          <div class="form-group"  *ngFor="let y of lengthA">

            <div id="div1" class="leftspace">
              <mat-form-field class="width">  
                <mat-label> Skill </mat-label> 
                <mat-select formControlName=skillId id='skillId' ngDefaultControl  [(value)]="Skill[y].skillId">
                 <mat-option *ngFor="let x of Skill" value={{x.skillId}}  >{{x.skillId}}</mat-option>  
                </mat-select>  
              </mat-form-field>
            </div>
            
            <div id="div2" class="left">
              <mat-form-field class="width">  
                <mat-label> Complexity </mat-label>
                <mat-select formControlName="cmpId" id="cmpId" ngDefaultControl  >
                 <mat-option *ngFor="let x of Complexity" value="{{x.cmpId}}" >{{x.Skilllevel}}</mat-option>  
                </mat-select>  
              </mat-form-field>
              </div>

          </div>
        </div>
        
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
</div>

 -->

 <div class="container">
  <mat-card>
    <div class="div1">
    <h2 >Add New Skill</h2>
    <div>
      <mat-form-field >
        <input matInput type="text" [(ngModel)]="skill" placeholder="Enter skill" appearance="fill" >
      </mat-form-field>
      <button (click)="addSkill(skill)" class="left green" [disabled]="!skill">Add</button>
      <p class="response"> {{Skillresponse}}</p>
      <p class="response1">{{Skillresponse1}}</p>
    </div>
    <!-- <div>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="complexity" placeholder="Enter complexity">
    </mat-form-field> 
    <button (click)="addComplexity(complexity)" class="left green">Add</button>
  </div> -->
    </div>
    </mat-card> 
 <mat-card>
  <div class="div1">
    <h2 >Add New Question and Answer</h2>
     <mat-form-field class="width">
         <mat-label> Skills </mat-label>
         <mat-select formControlName="skillId" id="skillId" (valueChange)="getSelectedSkill($event)">
           <mat-option *ngFor="let x of Skills" value="{{ x.skillId }}"  >{{ x.skillName }}</mat-option>
         </mat-select>
     </mat-form-field>

      <mat-form-field class="left">
      <mat-label> Complexity </mat-label>
      <mat-select formControlName="cmpId" id="cmpId" (valueChange)="getSelectedComplexity($event)">
        <mat-option *ngFor="let x of Complexity" value="{{ x.cmpId }}"  >{{ x.Name }}</mat-option>
      </mat-select>
      </mat-form-field>
      <br/>

      <mat-form-field class="input">
      <mat-label> Question </mat-label>
      <textarea matInput [(ngModel)]="Question" placeholder="Enter question"></textarea>
      </mat-form-field><br>
      <mat-form-field class="input">
      <mat-label>Answer </mat-label>
      <textarea matInput [(ngModel)]="answer" placeholder="Enter answer" class="aswer_area"></textarea>
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput placeholder="Keywords.."  [(ngModel)]="Keyword">
      </mat-form-field>
      <br/>
      <!-- 
      <textarea ></textarea> -->
      <button type="submit" class="green" (click)="addQuestion(SkillId,ComplexityId,Question,answer,Keyword)"> Submit</button>
      <button type="file" class="left" id="div1">Upload File</button>
      <p class="response" id="div2">{{QAresponse}}</p>
      </div>

      <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  #picker></mat-datepicker>
      </mat-form-field> -->
      </mat-card>



</div>