<!-- <div class="col-sm-12 ">
  <div>
    
      <div class="col-sm-6">
       <b>Question:</b> 
      </div>
      <div class="col-sm-6">
       <b>Answer:</b> 
      </div>
    
  </div>
</div>

<div class="col-sm-12 ">
  <div>
    <mat-card>
      <div class="col-sm-6">
        Question:'What is TypeScript?/{{questin[i]}}
      </div>
      <div class="col-sm-6">
        Answer:'TypeScript is a superset of JavaScript that offers excellent consistency. It is highly recommended, as it provides some syntactic sugar and makes the code base more comfortable to understand and maintain.
      </div>
    </mat-card>
  </div>
</div>
<div class="col-sm-12 ">
  <div>
    <mat-card>
      <div class="col-sm-6">
        Question:'What is TypeScript?//{{questin[i+1]}}
      </div>
      <div class="col-sm-6">
        Answer:'TypeScript is a superset of JavaScript that offers excellent consistency. It is highly recommended, as it provides some syntactic sugar and makes the code base more comfortable to understand and maintain.
      </div>
    </mat-card>
  </div>
</div> -->



<button type="button" class="btn btn-primary" data-bs-toggle="modal" 
data-bs-target="#exampleModal">
Launch demo modal
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria- 
labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title text-danger" id="exampleModalLabel">Hey 
    Bootstrap 5!!</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" 
     aria-label="Close"></button>
    </div>
    <div class="modal-body text-danger">
     Therichpost.com
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" data-bs- 
     dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>


