<!-- <div class="col-sm-12 ">
  <div>
    
      <div class="col-sm-6">
       <b>Question:</b> 
      </div>
      <div class="col-sm-6">
       <b>Answer:</b> 
      </div>
    
  </div>
</div>

<div class="col-sm-12 ">
  <div>
    <mat-card>
      <div class="col-sm-6">
        Question:'What is TypeScript?/{{questin[i]}}
      </div>
      <div class="col-sm-6">
        Answer:'TypeScript is a superset of JavaScript that offers excellent consistency. It is highly recommended, as it provides some syntactic sugar and makes the code base more comfortable to understand and maintain.
      </div>
    </mat-card>
  </div>
</div>
<div class="col-sm-12 ">
  <div>
    <mat-card>
      <div class="col-sm-6">
        Question:'What is TypeScript?//{{questin[i+1]}}
      </div>
      <div class="col-sm-6">
        Answer:'TypeScript is a superset of JavaScript that offers excellent consistency. It is highly recommended, as it provides some syntactic sugar and makes the code base more comfortable to understand and maintain.
      </div>
    </mat-card>
  </div>
</div> -->
