<form [formGroup]="profileForm" class="form-container" (ngSubmit)="storeData()" class="padding">
  <mat-card class="adjustable">
    <mat-card-header>
      <mat-card-title>Profile Creation</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field class="full-width">
          <input formControlName="name" matInput placeholder="Name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <input formControlName="Phone" matInput placeholder="Phone">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="full-width">
          <input formControlName="Experience" matInput placeholder="Experience">
        </mat-form-field>
      </div>
      <div class="top">
        <label for="input-file-id" class="resume">Resume:</label>
        <input  class="ng-hide" id="input-file-id" multiple type="file" />
        
      </div><hr>
      <div>
        <mat-form-field class="full-width">
          <textarea formControlName="message" matInput placeholder="Message for Interviewer"></textarea>
        </mat-form-field>
      </div>



    <div class="row" formArrayName="weightage">
      <div class="spaceL" id="div2">
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus icon">
          <mat-icon (click)="addNew()">add</mat-icon>
        </button>
      </div>

      <br>
        <div formArrayName="weightage" *ngFor="let Skillset of weightage.controls;let i=index" >
          
            <div id="div1">
            <mat-form-field class="spaceL">  
            <mat-label> Skill Selection </mat-label>  
            <mat-select formControlName="skillId" ngDefaultControl  >
              <mat-option *ngFor="let x of Skill" value="{{x.skillId}}">{{x.skillName}}</mat-option>  
            </mat-select>    
            </mat-form-field> 
            </div>

            <div class="spaceL" id="div2" >
              <mat-slider formControlName="level" class="spaceL"
                thumbLabel [displayWith]="formatLabel"
                tickInterval="5" step="5" min="0"max="25" aria-label="text">
              </mat-slider>
            </div>
        
        </div>
    </div> 

    <!-- <div formArrayName="Skills">
      <div *ngFor="let data of profileForm.get('Skills')['controls']; let i=index"
      formGroupName="{{i}}">
      <div class="row pt-2">
        <div class="col-md-5">
          <mat-form-field class="spaceL">  
            <mat-label> Skill Selection </mat-label>  
            <mat-select formControlName="skill" ngDefaultControl  >
              <mat-option *ngFor="let x of Skill" value="{{x.skillId}}" >{{x.skillName}}</mat-option>  
             </mat-select>    
            </mat-form-field> 
        </div>
        <div class="col-md-5">
          <mat-slider class="spaceL" formControlName="level"
            thumbLabel [displayWith]="formatLabel"
            tickInterval="5" step="5" min="0"max="25" aria-label="text">
          </mat-slider>
        </div>
      </div>
    </div>
    </div> -->
     
     <div class="space">
      <button mat-raised-button color="primary" type="submit">Save</button>
     </div>
    
    </mat-card-content>
  </mat-card>
</form>



<router-outlet></router-outlet>









  

 