<div class="backgroud">
  <mat-card class="adjustable">
    <mat-card-header>
      <mat-card-title>Profile Creation</mat-card-title>
    </mat-card-header>
    <div class="input-group">
      <form [formGroup]="fifthFormGroup" class="">
        
        <div class="d-flex flex-row bd-highlight mb-3">
        <div class="form-outline">
        <input type="search" id="form1" class="form-control" formControlName="searchEmail"  placeholder=" Search EmailId" />
        <!-- <label class="form-label" for="form1">Search</label> -->
      </div>
      <div class="p">
      
      <mat-icon button type="button" class="iconE" (click)="checkExistingcandidate()"
        >search
      </mat-icon>
      <!-- <mat-icon>filter</mat-icon> -->
    
     </div>
     <div class="filter">

      <mat-icon button type="button" class="iconFilter">filter_alt</mat-icon>
    </div>
      <!-- <button type="button" class="btn btn-primary">
        <i class="fas fa-search"></i>
      </button> -->
      </div>
      </form>
    </div>
    

    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup" class="">
          
          <ng-template matStepLabel>Basic Info</ng-template>

          <mat-form-field appearance="fill">
            <mat-label>EmailId</mat-label>
            <input
              matInput
              placeholder="EmailId"
              formControlName="email"
              required
            />
            <!-- <button
              type="button"
              class="btn btn-outline"
              (click)="checkExistingcandidate()"
            >
              <mat-icon class="iconE" (click)="checkExistingcandidate()"
                >search
              </mat-icon>
            </button> -->
          </mat-form-field>

          <!-- <div class="buttonCheck" id="div2">
        
          <button type="button" class="btn btn-outline-success" (click)="checkExistingcandidate()" >View Details</button>

        </div> -->
          <br />
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Enter Full Name"
              formControlName="name"
              required
            /> </mat-form-field
          ><br />
          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input
              matInput
              placeholder="Enter Phone number"
              formControlName="phone"
              required
            /> </mat-form-field
          ><br />
          <mat-form-field appearance="fill">
            <mat-label>Experience</mat-label>
            <input
              matInput
              placeholder="Enter Experience in years"
              formControlName="experience"
              required
            />
          </mat-form-field>
          <div class="basic-info-button">
            <button mat-button matStepperNext class="green" (click)="showCandidateAssesmentStatus()">Next</button>
            <!-- <button type="button" class="btn btn-outline-success" (click)="checkExistingcandidate()" >Success</button> -->
          </div>
        </form>
      </mat-step>

      <!-- #docregion label -->
      <mat-step [stepControl]="skillFormGroup" label="Skills">
        <!-- #enddocregion label -->
        <!-- <div class="d-flex flex-row bd-highlight mb-3"> -->
          <!-- <div class="d-flex flex-column bd-highlight mb-3"> -->
            <!-- <div class="row" *ngIf="edata">
              
              <div class="col-5">
                <h2 class="skillclass">Skills</h2>

                <div class="skill" *ngFor="let skill of skillArray">
                  <p>{{skill.skillName}}     </p>
                </div>
              </div>
       
            <div class="col-5">
            <h2 class="complex">Complexity</h2>

            <div class="level" *ngFor="let skill of skillArray">
              <p> {{skill.Skilllevel}}</p>
            </div>
          </div>
      </div> -->
      <div class="d-flex flex-row bd-highlight mb-3">
      <div id="divu" class="leftspacee" *ngIf="edata" >
        
        <mat-form-field class="width" *ngFor="let skill of skillArray">
          <mat-label class="mskill"> {{skill.skillName}}  </mat-label>
          <mat-select
            formControlName="skillId"
            id="skillId"
            ngDefaultControl
            (ngModelChange)="onSelectSkill($event)"
          >
            <mat-option
              *ngFor="let x of Skill"
              value="{{ x.skillId }}"
              (change)="onSelectSkill($event)"
              >{{ x.skillName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      
      <div id="divu2" class="leftspaceee" *ngIf="edata">
        <mat-form-field class="width" *ngFor="let skill of skillArray">
          <mat-label class="mlevel"> {{skill.Skilllevel}} </mat-label>
          

          <mat-select
            formControlName="cmpId"
            id="cmpId"
            ngDefaultControl
            (ngModelChange)="onSelectSkill($event)"
          >
            <mat-option
              *ngFor="let x of Complexity"
              value="{{ x.cmpId }}"
              (change)="onSelectSkill($event)"
              >{{ x.Skilllevel }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      </div>


        <!-- on proile creation for the first time -->
        <!-- </div> -->
        <form [formGroup]="skillFormGroup">
          <div formArrayName="Skills">
            <ng-container
              *ngFor="let skill of Skills.controls; let i = index"
              [formGroupName]="i"
            >
              <div id="div1" class="leftspace1">
                <mat-form-field class="width">
                  <mat-label> Skill </mat-label>
                  <mat-select
                    formControlName="skillId"
                    id="skillId"
                    ngDefaultControl
                    (ngModelChange)="onSelectSkill($event)"
                  >
                    <mat-option
                      *ngFor="let x of Skill"
                      value="{{ x.skillId }}"
                      (change)="onSelectSkill($event)"
                      >{{ x.skillName }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <!-- <div id="div2" class="spaceL">
  
        <mat-slider formControlName="complexity"
            thumbLabel (input)="pitch($event)"
            tickInterval="1" step="1" min="0" max="5" aria-label="text" value="">
          </mat-slider> 
      </div> -->
              <div id="div2" class="leftspace">
                <mat-form-field class="width">
                  <mat-label > Complexity </mat-label>
                  <mat-select
                    formControlName="cmpId"
                    id="cmpId"
                    ngDefaultControl
                    (ngModelChange)="onSelectSkill($event)"
                  >
                    <mat-option
                      *ngFor="let x of Complexity"
                      value="{{ x.cmpId }}"
                      (change)="onSelectSkill($event)"
                      >{{ x.Skilllevel }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <br />
            </ng-container>
            <div id="div3" class="spaceL">
              <button (click)="addNew()">Add-Skills</button>
            </div>
          </div>

          <div class="skills-buttons">
            <button mat-button matStepperPrevious class="color2">Back</button>
            <button mat-button matStepperNext class="green">Next</button>
          </div>
        </form>
      </mat-step>

    

      <!-- #docregion label -->
      <mat-step [stepControl]="thirdFormGroup" label="Assesment">
        <!-- #enddocregion label -->
        <form [formGroup]="thirdFormGroup">
          <!-- <div>
            <label for="input-file-id" class="resume control-label"
              >Resume:</label
            >
            <input
              class="ng-hide"
              formControlName="resume"
              id="input-file-id"
              multiple
              type="file"
            />
          </div> -->
          <br />
          <div class="resume-buttons">
            <button mat-button matStepperPrevious class="color2">Back</button>
            <button mat-button matStepperNext class="green">Next</button>
          </div>
        </form>
      </mat-step>
      <!-- e------------------------------------------------------------------------l -->
      <!-- #docregion label -->

      <!-- --------------------------------------------------------------------------- -->
      <!-- <mat-step [stepControl]="secondFormGroup" label="Add a Note">
   
        <form [formGroup]="secondFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Message for Interviwer</mat-label>
            <textarea
              matInput
              formControlName="message"
              placeholder="Enter here...."
              class="text-box-Size"
            ></textarea>
          </mat-form-field>
        </form>
        <div class="message-buttons">
          <button mat-button matStepperPrevious class="color2">Back</button>
          <button mat-button matStepperNext class="green">Next</button>
        </div>
      </mat-step> -->

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <h1>You are now done.</h1>
        <div class="done-buttons">
          <button mat-button matStepperPrevious class="color2">Back</button>
          <button mat-button (click)="stepper.reset()" class="red">
            Reset
          </button>

          <button mat-button (click)="storeDatas()" class="green">
            Submit
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card>
</div>

<router-outlet></router-outlet>
